@import url(http://fonts.googleapis.com/css?family=Raleway:300,100,200);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@font-face {
  font-family: 'JapanSans80';
  src: url('http://webfontfan.com/fontcss/font/JapanSans80.eot');
  src: url('http://webfontfan.com/fontcss/font/JapanSans80.eot?#iefix') format('embedded-opentype'),
  url('http://webfontfan.com/fontcss/font/JapanSans80.woff') format('woff'),
  url('http://webfontfan.com/fontcss/font/JapanSans80.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.tag-link {
  > h5, > h6 {
    display: inline-block;
  }
  > h5:after {
    content: ' : ';
  }
  > h6 {
    :before {
      content: '[ ';
      color: #444;
    }
    :after {
      content: ' ]';
      color: #444;
    }
  }
}
time, .read-more {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 1.5em;
}
.read-more {
  text-align: right;
  //font-weight: thin;
  padding-right: 1.2em;
}

header {
  .title {
    background: #666;
    box-shadow: 1px 2px 200px 3px #FBFBFB;
    box-shadow: 1px 2px 200px 3px #AAA;
    font-size: 3.0em;
    margin-bottom: -28px;
  }
  .title > a {
    color: #FAFAFA;
    display: block;
    padding-top: 3px;
  }
}
.summary {
  border-top: 3px black;
  h1 {
    font-size: 0.9em;
  }
}
.my-github > a {
  position: absolute;
  bottom: -60px;
}
article {
  box-shadow: 1px 1px 1px 0px #CCC;
  border-bottom: 1px solid #999;
  margin-top: 10px;
  margin-bottom: 5px;
  background: rgba(250, 250, 250, 0.1);
}
div.highlight pre {
  background: #FFF;
  border: 1px solid #CCC;
  font-family: 'Inconsolata','JapanSans80','ヒラギノ角ゴ Pro W3','Hiragino Kaku  Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}
.tags {
  color: #CCC;
}
.title, time, .tags, .summary {
  padding: 3px;
  border-radius: 2px 2px 1px 1px;
  margin: 1px;
}
#header a {
  color: inherit;
}
body {
  background: #CFCFCF;
  color: #444;
  font-family:'JapanSans80','ヒラギノ角ゴ Pro W3','Hiragino Kaku  Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}
